.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  text-align: center;
  cursor: pointer;

  width: 95%;

  background: #3766e8;
  color: #fff;
  border-radius: 5px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
