.input {
}

.input label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #545454;
}

.input input {
  background: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 6px;
  padding: 8px 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  outline: none;
  width: 93%;
  color: #a0a0a0;
  margin-top: 3px;
}
