.App {
  padding: 20px 30px;
  background-color: #f6f6f6;
  min-height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #545454;
}

.container {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 40px 91px;
  width: 360px;
  background: #ffffff;
  box-shadow: 4px 4px 20px rgba(157, 157, 157, 0.12);
  border-radius: 15px;
}

.card-head {
  text-align: center;
}

.card-head-heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  color: #212121;
}

.card-head-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.card-head-img {
  display: flex;
  justify-content: center;
}

.card-btn {
  margin-top: 56px;
}

.indrustry {
  margin-top: 13px;
  margin-bottom: 13px;
}

.terms {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

@media screen and (max-width: 768px) {
  .container {
    margin-top: 30px;
  }

  .card {
    padding: 40px 17px;
  }
}
